extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h3.display-6.m-b-2 For Inquries regarding this system you can contact me.

        a.btn.btn-primary(a href='https://www.eladnm.net') Get in touch


